html, body, div, span, ul, li, a, header, footer, h1, h2, h3, h4, h5, h6, img {
  padding:0;
  margin: 0;
}
body{
  font: 12px/1.23 微软雅黑,Arial, 宋体, Helvetica, sans-serif;
  color:#000;
}
.container{
  width:100%;
  height:100%;
  overflow: hidden;
}
img{ border:none; outline: none; }
.fr{  float:right;  }
.pa{  position:absolute;  }
.pr{  position:relative;  }
.hide{  display:none;  }
.show{  display:block;  }
.bg-eb{  background-color:#ebebeb;  }
.bg-tp{ background-color:transparent; }
%container{  width:1260px;  margin:0 auto;  }

%fl{  float:left;  }

%maxwidth{  width:100%;  min-width:1260px;  }
%dp-ib{  display:inline-block;  }
%w1190{ width:1190px; margin:0 auto;}
.minw{ min-width: 1190px;}
$globalUrl:url('../assets/material/global_009.png') no-repeat;
$navLogoNativeUrl:url('../assets/material/D5FEF7BB1C9BD121BC641C53C13F7369.png') no-repeat;

.header {
  @extend %maxwidth;
  position: relative;
  height: 80px;
  background-color: #fff;
  z-index: 1000;
  &[data-state-fixed]{
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
  }
  .header-top {
    @extend %maxwidth;
    height: 30px;
    .ht-left {
      @extend %fl;
      margin-left: 25px;
      font-family: SimHei;
      div {
        @extend %dp-ib;
      }
      .htl-logo {
        background: url('../assets/material/global_009.png');
        width: 90px;
        height: 10px;
        background-position: 0 -92px;
        margin-top: 10px;
        margin-right: 15px;
      }
      .htl-welcome a {
        text-decoration: none;
        line-height: 22px;
        color: #000;
      }
      .htl-cart {
        cursor: pointer;
        vertical-align: text-top;
        //margin-left: 10px;
        .htl-shop {
          background: $globalUrl;
          background-position: -166px 0;
          @extend %dp-ib;
          width: 16px;
          height: 13px;
        }
      }
    }
    .ht-line {
      width: 1px;
      height: 17px;
      margin: -5px 10px;
      border-left: 1px solid #000;
    }
    .ht-right {
      margin-right: 25px;
      div {
        @extend %dp-ib;
        margin-top: 5px;
      }
      .htr-tit a, .htr-club a {
        text-decoration: none;
        line-height: 22px;
        color: #000;
      }
    }
  }
  .head-nav {
    @extend %maxwidth;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    .nav-menu {
      @extend %fl;
      @extend %dp-ib;
      height: 50px;
      .point-arr {
        margin: 4px auto;
        @extend %dp-ib;
        width: 7px;
        height: 4px;
        background: $globalUrl;
        background-position: -166px -14px;
      }
      &[data-btn-active] .point-arr {
        background-position: -173px -14px;
      }
      .nav-logo-negtive {
        @extend %dp-ib;
        width: 24px;
        height: 24px;
        background: $navLogoNativeUrl;
        background-position: 0 0;
        margin-top: -2px;
        vertical-align: -7px;
      }
      &[data-btn-active] .nav-logo-negtive {
        background-position: -24px 0;
      }
    }
    .nav-menu a {
      display: block;
      text-decoration: none;
      color: #fff;
      height: 20px;
      padding: 0 10px;
      margin: 18px 11px;
    }
    .nav-menu[data-btn-active] a {
      color: #ee2737;
    }
    .nav-menu[data-btn-active] {
      background-color: #fff;
    }
    #nav-logo {
      display: inline-block;
      width: 53px;
      height: 14px;
      background: $globalUrl;
      background-position: -166px -41px;
      line-height: 50px;
    }
    .nav-line {
      @extend %dp-ib;
      @extend %fl;
      width: 1px;
      height: 20px;
      border-left: 1px solid rgb(76, 74, 70);
      line-height: 50px;
      margin: 15px 0;
    }
  }
}
.header-search{
  float:right;
  margin-right:40px;
  margin-top:15px;
  width:211px;
  height:25px;
  background:$globalUrl no-repeat 0 -67px;
  .head-ipt{
    margin:4px 5px 4px 5px;
    border:none;
    outline: none;
    color:#c4c4c4;
  }
  .head-searchBtn{
    float:right;
    display: inline-block;
    width:25px;
    height:25px;
    cursor: pointer;
  }
}
.drop-down-box {
  position: fixed;
  top: 80px;
  left: 0;
  @extend %maxwidth;
  z-index: 10;
  .drop-down-menu {
    &.hide{
      padding: 0;
    }
    background-color: #fff;
    padding: 16px 0;
    @extend %maxwidth;
    display:none;
    &[data-view-active]{
      display:block;
    }
    .dm-items {
      overflow: hidden;
      @extend %container;
      padding-top: 22px;
      .dm-item {
        width: 180px;
        border-left: 1px solid rgb(191, 191, 191);
        @extend %fl;
        padding-left: 18px;
        .dm-tit {
          font-size: 30px;
          font-weight: normal;
          color: #ee2737
        }
        .dm-list {
          list-style-type: none;
          padding-top: 10px;
          line-height: 20px;
          color: #404040;
        }
      }
    }
    .dm-bottom {
      padding-top: 30px;
      clear: left;
      text-align: center;
      ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
        li {
          float: left;
          padding-left: 10px;
        }
      }
    }
  }
}

.slide-container {
  @extend %maxwidth;
  .slide-bck {
    @extend %maxwidth;
    overflow: hidden;
    position: relative;
    .slide-box {
      width: 500%;
      overflow: hidden;
      img {
        width: 20%;
        float: left;
      }
    }
  }
}
.slideBtn-box {
  margin-top: -30px;
  text-align: center;
  z-index: 50;
  line-height: 0;
  .slide-btn {
    text-align: center;
    height: 30px;
    color: #fff;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 30px;
    cursor: default;
    &[data-slide-active]{
      background-color: rgba(238, 39, 55, 0.8);
    }
  }
  &:after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
    vertical-align: top;
  }
}
@media screen and (max-width:600px) {
  .slideBtn-box {
    margin-left:50px;
    height: 220px;
    width: 260px;
    .slide-btn {
      text-align: center;
      margin-bottom: 15px;
      width: 240px;
    }
  }
}
@media screen and (min-width:600px) {
  .slideBtn-box {
    margin-left:20px;
    height: 130px;
    width: 600px;
    .slide-btn {
      text-align: center;
      margin-bottom: 15px;
      width: 240px;
    }
  }
}
@media screen and (min-width:800px) {
  .slideBtn-box {
    margin-left:20px;
    height: 75px;
    width: 800px;
    .slide-btn {
      text-align: center;
      margin-bottom: 15px;
      width: 240px;
    }
  }
}
@media screen and (min-width:1000px) {
  .slideBtn-box {
    margin-left:50px;
    height: 75px;
    width: 1000px;
    .slide-btn {
      text-align: center;
      margin-bottom: 15px;
      width: 240px;
    }
  }
}
@media screen and (min-width:1200px) {
  .slideBtn-box {
    text-align: justify;
    margin: 30 auto 0;
    line-height: 0;
    height: 30px;
    width: 90%;
    .slide-btn {
      text-align: center;
      width: 19%;
    }
  }
}
.maxwidth {
  @extend %maxwidth;
}
.four-title {
  @extend %w1190;
  margin: 20px auto;
  background-color: #fff;
  text-align: center;
  .title {
    @extend %dp-ib;
    transition: background-color 0.3s;
    width: 285px;
    height: 335px;
    background-color: #ebebeb;
    padding: 6px 5px;
    margin-right: 3px;
    color:#313131;
    &:hover {
      background-color: #f1525f;
      color:#fff;
      .title-2-img{
        background: url("../assets/material/lining_161216_title_pic2.png");
      }
    }
    &:last-child {
      margin: 0;
    }
    .title-1{
      width:100%;
      height:15px
    }
    .title-2{
      width:100%;
      height:28px;
      font-size: 20px;
    }
    .title-2-2{
      width:100%;
      height:22px;
      padding-top: 6px;
      font-size: 20px;
    }
    .title-3{
      width:100%;
      height:25px;
      font-size: 20px;
    }
    .title-4{
      width:100%;
      height:34px;
      font-size: 16px;
    }
    .title-2-img{
      @extend %dp-ib;
      width:16px;
      height:16px;
      background: url("../assets/material/lining_161216_title_pic.png") no-repeat;
    }
  }
}
.fiveVenue-bg{
  @extend %maxwidth;
  background-color: #ebebeb;
  padding:15px;
  .fiveVenue{
    @extend %w1190;
    padding-left:33px;

  }
}

.hc-box{
  @extend %dp-ib;
  width:126px;
  height:205px;
  margin-right:123px;
  font-size:14px;
  color:#313131;
  text-align: center;
  &:last-child{
    margin: 0;
  }
  .hc-box-pic img{
    transition: all .3s;
  }
  &:hover{
    transition: all 0.3s;
    color:#ee2737;
    .hc-box-pic img{
      transition: all .3s;
      margin-left:-10px;
    }
  }
}

.zjyBox{
  @extend %w1190;
  height:710px;
  background-color: #fff;
  padding:15px 0;
  .album-tl{
    @extend %fl;
    margin-right:8px;
    .album-tl-1, .album-tl-2{
      margin-bottom: 5px;
    }
  }
  .album-tr{
    margin-bottom: 5px;
  }
  .album-btm-1, .album-btm-2, .album-btm-3{
    @extend %fl;
    margin-right:8px;
  }
}
.technology-box{
  @extend %w1190;
  height:118px;
  position: relative;
  .technology-show{
    width:1096px;
    height:118px;
    margin: 0 auto;
    overflow: hidden;
    .innerBox{
      width:2055px;
      position: relative;
      height:inherit;
      margin-left:-137px*3;
    }
    [slideleft='true']{
      animation: slideleft 1s ease;
    }
    [slideright='true']{
      animation: slideright 1s ease;
    }
  }
  @keyframes slideleft
  {
    from { margin-left:-137px*3 }
    to { margin-left:-137px*6 }
  }
  @keyframes slideright
  {
    from { margin-left:-137px*3 }
    to { margin-left:0 }
  }

  .left-btn,.right-btn{
    width:30px;
    height:55px;
    position:absolute;
    top:23px;
    cursor: default;
  }
  .left-btn{
    background: url("../assets/material/lining_161216_left_btn1.png");
    left:17px;
    &:hover{
      background: url("../assets/material/lining_161216_left_btn2.png");
    }
  }
  .right-btn{
    background: url("../assets/material/lining_161216_right_btn1.png");
    right:17px;
    &:hover{
      background: url("../assets/material/lining_161216_right_btn2.png");
    }
  }
}

.innerBox .icon-box{
  @extend %dp-ib;
  width:137px;
  height:95px;
  margin-top:33px;
  .icon-pic,.icon-word{
    width:137px;
    text-align: center;
  }
  .icon-pic-1{
    display:block;
  }
  .icon-pic-2{
    display:none;
  }
  .icon-word{
    color:#000;
  }
  &:hover{
    .icon-pic-1 {
      display: none;
    }
    .icon-pic-2{
      display:block;
    }
    .icon-word{
      color:#ee2737;
    }
  }
}

.slide-wrap{
  @extend %w1190;
  position: relative;

  .placehold{
    height:310px;
    width:0;
  }
}
.star,.xin{
  transition: all 0.3s;
  @extend %dp-ib;
  width:594px;
  height:310px;
  background-color:#fff;
  position: absolute;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  img{
    width:594px;
    height:310px;
    display: none;
    &[data-slide-active]{
      display: block;
      animation: fadeIn 1s;
    }
  }
  //overflow: hidden;
}
@keyframes fadeIn {
  from{ opacity: 0.3 }
  to {opacity: 1}
}
.star{
  left:597px;
}
.slide-dian{
  position: absolute;
  width:100%;
  bottom: 5%;
  text-align: center;
}
.star:hover,.xin:hover {
  box-shadow: 0 5px 10px rgba(60, 60, 20, 0.7);
  margin-top:-10px;
}


.hotStyle{
  @extend %maxwidth;
  margin-top:20px;
  .hot-title{
    width:100%;
    height:33px;
    font-size: 32px;
    color:#747474;
    padding:42px 0;
    text-align: center;
    cursor: default;
  }
  .hot-content{
    width:1192px;
    height:525px;
    margin: 0 auto;
    //overflow: hidden;
    .hot-choice{
      float:left;
      width:30px;
      height:453px;
    }
    .hot-goods{
      //overflow-x:hidden;
      position: relative;
      width:1156px;
      height:519px;
      float:left;
    }
  }
}
.hot-goods{
  .choiceContent{
    display:none;
    &[data-view-active]{
      display: block;
    }
  }
}
.hot-item{
  display: block;
  width:30px;
  height:65px;
  background: url("../assets/lining_161216_goods_tag_bg1.png");
  margin-bottom: 2px;
  position: relative;
  text-align: center;
  color:#fff;
  padding-top: 24px;
  &[data-btn-active]{
    background: url("../assets/lining_161216_goods_tag_bg2.png");
  }
  .item-arr{
    display: block;
    position: absolute;
    top:42px;
    right:-4px;
    width:4px;
    height:8px;
    background: url("../assets/material/g_a.png");
    z-index: 10;
  }
  &[data-btn-active]>.item-arr{
    background: url("../assets/material/r_a.png");
  }
  .hot-item-font{
    margin-top:30px;
    font-size: 13px;
    cursor: default;
  }
}

%goodsItem{
  width:231px;
  height:260px;
  position:absolute;
  background-color: #fff;
}
@for $i from 1 through 5 {
  .goods-item-#{$i}{
    transition: all 0.3s;
    @extend %goodsItem;
    top:0;
    left:232px * $i - 232px;
  }
}

.hot-goods-item .hot-bck{
  transition: all  0.5s ease;
  position: absolute;
  z-index : 1;
  width:231px;
  height:259px;
}

.hot-goods-item:hover .hot-bck{
  transform: scale(1.25,1.23);
  z-index:10;
  display: block;
}
.goodsBox{
  width:100%;
  height:100%;
  background-color:#fff;
  z-index: 9;
  position: relative;
}
.goodsPic{
  padding-top:26px;
  padding-left:26px;
}
.selSlavePic{
  float: right;
  margin-top:26px;
  margin-right:8px;
  width:35px;
  height:100%;
  img{
    border:1px solid #fff;
    width:35px;
    height:35px;
    &:hover{
      border-color:#d8d8d8;
    }
  }
}
.goodsInfo{
  width:190px;
  height:46px;
  margin:14px auto 0;
  background: url("../assets/lining_161227_buy.jpg") no-repeat right;
}
.goodsPrice{
  font-size: 18px;
  font-weight: bold;
}
.hot-goods-item:hover .goodsBox{
  z-index: 20;
}

@for $i from 6 through 10 {
  .goods-item-#{$i}{
    @extend %goodsItem;
    top:261px;
    left:232px * $i - 232px * 6 ;
  }
}

.indexContent{
  @extend %maxwidth;
  background-color: #e9e9e9;
  padding-top:20px;
  .qie-title{
    @extend %maxwidth;
    height:104px;
    background-color: #000;
    .qie-title-box{
      @extend %w1190;
      height:100%;
      text-align: center;
    }
  }
}
.qie-title-box .qie-title-btn{
  transition: all 0.3s;
  @extend %dp-ib;
  width:178px;
  height:104px;
  &[data-ghost-active]{
    background-color:#ee2737;
  }
}
.qie-title-word{
  color:#fff;
  font-size: 14px;
}
.title-pic-box{
  @extend %w1190;
}
.title-pic{
  width:1920px;
  margin-left:-365px;
}

.running-con{
  @extend %w1190;
  height:531px;
  margin-top:-38px;
  position: relative;
  .choice-content{
    z-index: 10;
    width:34px;
    height:531px;
    @extend %fl;
  }
  .running-goods{
    width:1156px;
    @extend %fl;
    height:531px;
    position: relative;
  }
}
.running-content{
  display: none;
  &[data-view-active]{
    display: block;
  }
}
.choice-item{
  @extend .hot-item;
  font-size:14px;
  padding:15px 0 15px;
  cursor: default;
}


.goods{
  transition: all 0.3s ease;
  width:231px;
  height:265px;
  position: absolute;
  border-right:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  background-color: #fff;
  .goodsBox{
    z-index: 1;
  }
  &:hover{
    box-shadow: 0 0 20px rgba(170,170,170,0.5);
    z-index: 2;
  }
}
@for $i from 1 through 5 {
  .goods-#{$i}{
    top:0;
    left:232px * $i - 232px;
  }
}
.goods-4-none,.goods-5-none{
  display:none;
}
@for $i from 6 through 10 {
  .goods-#{$i}{
  top:266px;
  left:232px * $i - 232px * 6 ;
  }
}
.seris-slide{
  position: absolute;
  top:0;
  left:232px * 3;
  width:463px;
  height:265px;
  overflow: hidden;
  .seris-overflow{
    overflow: hidden;
    width:463px;
    height:265px;
  }
}
@for $i from 1 through 10{
  .seris-overflow[data-slide='#{$i}'] .seris-wrap{
    margin-left:-463px*$i+463px;
  }
}
.seris-wrap {
  transition: all 0.3s;
  width:463px*10;
  height:265px;
  img {
    float: left;
  }
}

.seris-box{
  width:100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
}
.seris-btn{
  display: inline-block;
  width:21px;
  height:21px;
  background: url("../assets/material/lining_170116_LunBoDian_pic.png") no-repeat 0 0;
  &[data-slide-active]{
    background-position: 0 -22px;
  }
}

.footer{
  @extend %maxwidth;
  margin-top:45px
}

.footer-content{
  width:960px;
  margin: 0 auto;
  .fc-item{
    @extend %dp-ib;
    width:240px;
    height:60px;
    margin-bottom: 30px;
  }
}
.fc-item-image{
  @extend %dp-ib;
  width:46px;
  height:46px;
  margin:6px 15px;
  background: url("../assets/global_footer_001.png") no-repeat;
}
@for $i from 1 through 4 {
  .fc-item-image-#{$i}{
    background-position: -$i*47px+47 0;
  }
}
.fc-item-content{
  @extend %dp-ib;
  width:159px;
  height:46px;
  vertical-align: top;
  margin: 6px 0;
  border-left: 1px solid #2d2a26;
}
.item-tit, .item-detail{
  margin-left:20px;
}
$footColor:#575551;
.item-tit{
  height:26px;
  font-size: 20px;
  color: $footColor;
}
.item-detail a{
  text-decoration: none;
  color:$footColor;
  &:hover{
    color:#ee2737;
  }
}
.item-line{
  @extend %dp-ib;
  width:1px;
  height:14px;
  background-color:$footColor;
  margin: 0 8px;
  vertical-align: text-bottom;
}
@for $i from 1 through 10 {
  .slide-box[data-slide='#{$i}']{
    transition: all 0.5s;
    margin-left:-100%*$i+100%;
  }
}

.slide-left,.slide-right{
  width:31px;
  height:47px;
  position: absolute;
  top:286px;
  opacity: 0.5;
  background: $globalUrl;
}
.slide-left{
  left:10%;
  background-position: -219px 0 ;
  &:hover{
    opacity: 1;
  }
}
.slide-right{
  right:10%;
  background-position:-219px -47px ;
  &:hover{
    opacity: 1;
  }
}

.h20-bke9{
  height:20px;
  width:100%;
  background-color: #e9e9e9;
}
.left-nav{
  z-index: 50;
  width:67px;
  height:277px;
  background:url("../assets/material/lining_170119_fu-2.png") no-repeat;
  position: fixed;
  top:60%;
  left:50%;
  margin-left:-670px;
  opacity:0;
  visibility: hidden;
  &[data-state-show]{
    transition: opacity 0.5s;
    opacity: 1;
    visibility: visible;
  }
  div{
    cursor: pointer;
  }
  .left-nav-line{
    width:100%;
    height:1px;
  }
  .left-nav-coupon{
    width:100%;
    height:51px;
    background:url("../assets/material/lining_170119_yhq-20.jpg") no-repeat;
  }
}
.right-nav{
  position: relative;
  .right-nav-long {
    transition: opacity 0.5s;
    opacity: 1;
    visibility: visible;
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 80px;
    right: 0;
    width: 42px;
    z-index: 999;
  }
  .right-nav-short {
    transition: opacity 0.5s;
    opacity: 0;
    visibility: hidden;
    background-color: #000;
    position: fixed;
    top: 70%;
    right: 0;
    width: 60px;
    z-index: 999;
  }
  &[data-state-hide]{
    .right-nav-long{
      opacity: 0;
      visibility: hidden;
    }
    .right-nav-short{
      opacity: 1;
      visibility: visible;
    }
  }
}

%img-center{
  width:42px;
  height:55px;
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  img{vertical-align:  middle;}
}
%hov-select{
  cursor: default;
  &:hover{
    background-color: #E65F5F;
  }
  .r-icon{
    display:block;
  }
  .r-information{
    display: none;
  }
  &:hover{
    .r-icon{
      display:none;
    }
    .r-information{
      display: block;
    }
  }}
.r-content{
  position: absolute;
  top: 50%;
  width:100%;
  margin-top: -255px;
  text-align: center;
  color:#fff;
  .r-logo{
    width:19px;
    height:60px;
    background: url("../assets/material/logo.png");
    position:absolute;
    z-index:999;
    right:42px;
    top:0;
  }
  .r-show{
    height:60px;
    line-height: 60px;
  }
  .r-lining{
    @extend %img-center;
    @extend %hov-select;
  }
  .r-cart{
    height:60px;
    line-height: 60px;
    @extend %hov-select;
  }
  .r-account{
    @extend %img-center;
    @extend %hov-select;
  }
  .r-collect{
    @extend %img-center;
    @extend %hov-select;
  }
  .r-view{
    @extend %img-center;
    @extend %hov-select;
  }
  .r-service{
    @extend %img-center;
    @extend %hov-select;
  }
  .r-code{
    @extend %img-center;
    @extend %hov-select;
  }
  .code-wrap{
    position: absolute;
    z-index: 1000;
    right:35px;
    top:361px;
    display: none;
  }
  .r-code[data-state-hov]{
    background-color: #E65F5F;
    .r-icon{
      display:none;
    }
    .r-information{
      display: block;
    }
    .code-wrap{
      display: block;
    }
  }
  .r-top{
    height:60px;
  }
  .r-information{
    line-height: 15px;
  }
  .r-cart .r-information{
    line-height: 60px;
  }
}

.r-solid{
  width:37px;
  height:1px;
  background-color:#707070;
  margin-left:2.5px;
}
.r-top{
  transition: opacity 1s;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  &[data-state-show]{
    visibility: visible;
    opacity: 1;
    display: block;
  }
}
.bar-img{
  margin-top:10px;
  margin-bottom: 3px;
}





