<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width">
    <title>music</title>
    <link href='./public/static/css/app.9edec59c5ba03d679e961a507fdc4c69.css' rel=stylesheet>
</head>
<body>
<div id=app>

</div>
<script type=text/javascript src='./public/static/js/manifest.3d8a2fa66edc6878cb35.js'></script>
<script type=text/javascript src='./public/static/js/vendor.3c12c1961e130e9b0447.js'></script>
<script type=text/javascript src='./public/static/js/app.13d5390de18a013bd75d.js'></script>
</body>
</html>