*{
    margin:0;
    padding:0;
}
<<<<<<< HEAD

@keyframes rotate{
    0% {transform:rotate(0deg); }
    100% {transform:rotate(360deg); }
}

.loading{
    animation: rotate 1s linear;
    animation-iteration-count: 100;
=======
@keyframes rot{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.loading{
    animation: rot 1s linear;
    animation-iteration-count: 1000;
>>>>>>> master
    width:64px;
    height:64px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
    border:2px solid #ff3b95;
    border-radius:50%;
    z-index:1;
}

.shade{
    background-color:#fff;
    width:38px;
    height:38px;
<<<<<<< HEAD
    margin-top:-3px;
    margin-left:-3px;
=======
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-38px;
>>>>>>> master
    z-index: 2;
}

.circle{
    width:38px;
    height:38px;
<<<<<<< HEAD
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -19px;
    margin-top:-19px;
=======
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-19px;
    margin-left:-19px;
>>>>>>> master
    background-color:#fb8bbd;
    border-radius: 50%;
    z-index:3;
}

<<<<<<< HEAD

=======
>>>>>>> master
@keyframes fanRotate{
    0%   {transform:rotate(180deg);background-color:#fb8bbd;}
    50%  {transform:rotate(360deg);background-color:#fb8bbd;}
    50.1%  {transform:rotate(180deg);background-color:#ff3b95}
    100% {transform:rotate(360deg);background-color:#ff3b95}
}

.sector,.sectorShade{
    width:38px;
    height:38px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-17px;
    margin-left:-17px;
    background-color: #ff3b95;
    border-radius: 50%;
    clip: rect(0px 19px 38px 0px)
}

.sector{
    transform:rotate(180deg);
    z-index:3;
}

.sectorShade{
    animation: fanRotate 1s linear;
<<<<<<< HEAD
    animation-iteration-count: 100;
=======
    animation-iteration-count: 1000;
>>>>>>> master
    transform:rotate(180deg);
    background-color:#fb8bbd;
    z-index:4;
}